<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>


</style>
</head>
<body>

	<form class="question" action="" th:with="data=data">
		<!--  <h4 th:text=${iterateStat.index}>Indexing</h4>-->

	<div id="container">
		<h3><span id="question"></span></h3>
		<input type="radio" name="option" id="option1"/><span id="option1"></span><label for="option1"></label><br>
		<input type="radio" name="option" id="option2"/><span id="option2"></span><label for="option2"></label><br>
		<input type="radio" name="option" id="option3"/><span id="option3"></span><label for="option3"></label><br>
		<input type="radio" name="option" id="option4"/><span id="option4"></span><label for="option4"></label><br>
	</div>	
		<button id="prevbtn" onclick="prev()">Previous</button>
		<button  id="nextbtn" onclick="next()">Next</button>

		<!--<button type="submit">SUBMIT</button>-->
	
	</form>

	<script th:line="javascript">
           //binding the data from the controller as its own structure
            fetch("/jav-map").then(response=>response.json()).then(data=>(console.log(data)).catch(error=>console.log('Error',error))
	    function update()
		    {
			    var questionElement=document.getElementById("question");
			    var option1Element=document.getElementById("option1");
			    var option2Element=document.getElementById("option2");
			    var option3Element=document.getElementById("option3");
			    var option4Element=document.getElementById("option4");

			    questionElement.innerTxt=data[index].question;
			    option1Element.innerText=data[index].option1;
			    option2Element.innerText=data[index].option2;
			    option3Element.innerText=data[index].option3;
			    option4Element.innerText=data[index].option4;
		    }
            function validateOptions()
	      {
	    	           var selectedOption=null;
	 		   var radioButtons=document.getElementsByName('option');     
	 		   for(var i=0;i<radioButtons.length;i++)
	 		   {
	 		    	  
	 			if(radioButtons[i].checked)
	 		       {
	 		    		selectedOption= radioButtons[i].value;
	 		    		     
	 		       }
	 		    	 
	 		   }
	 		   
	 		   if(selectedValue===null)
	 		   {
	 			   alert("Please select a option")  
	 			   return false;
	 		   }
	      }

		function resetButtons()
		  {
		    	 var radioBtn=document.getElementsByName('option');
		    	 for(var i=0;i<radioBtn.length;i++)
		    	 {
		    		      radioBtn[i].checked=false;
		         }
		    	 selectedOption=null;
		  }
            function previous()
		     {
		    	 if(index>0){
		    		 index--;
		    		 updateData();
		    		 resetButtons();
		    		 validateOptions();
		    	 }
		     }
		     function next()
		     {
		    	 if(index<data.length-1)
		    		 {
		    		     index++;
		    		     updateData();
		    		     resetButtons();
		    		     validateOptions();
		    		 }
		     }
		     
	      updateData();
    </script>
     </script>

</body>
</html>
