<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Listing Java Question Id's</title>
<style>
    /* Define CSS styles */
    body {
        font-family: Arial, sans-serif;
    }


    form {
        margin: 20px;
    }

    select {
        width: 200px;
        padding: 5px;
        font-size: 16px;
    }
</style>
</head>
<body>
	<form action="/map-updatejavaid" method="POST">
	     <p th:text="${data}"></p>
		<select>
		<option  th:each="q :${list}" th:text="${q.id}"></option>
		</select>
		<h3>Enter the id from the list:</h3>
		<input type="number" name="id"/>
		<button type="submit">SUBMIT</button>
	</form>
</body>
</html>
