<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>
<body>
<form action="/studentlogin" method="POST">
<label>Enter Your Email Id: <input type="email" name="email" placeholder="Enter Your Email Id"/></label><br><br>
<label>Password: <input type="password" name="password"/></label><br><br>
<button type="submit">LOGIN</button>
</form><br><br>
<h4>Not Yet Registered Please the below link to get registered </h4>
<form action="/map-studentregister" method="GET">
<button type="submit">REGISTER</button>
</form>
</body>
</html>