<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
  <div class="div-tag" th:object="${detail}">
      <h1 class="h1-tag">Hello</h1><h1 th:text=${detail.fname}></h1>
      <form action="/java-questions" method="POST">
  </div>
  <div>
    <div class="map-tag">
      <nav>
        <ul>
          <li><a href="/map-javpapaper">JAVA</a></li>
          <li><a href="/map-pytpaper">PYTHON</a></li>
	  <li><a href="/map-sqlpaper">SQL</a></li>
	  <li><a href="/profile">PROFILE</a></li>
          <li><a href="/map-studentlogin">LOGOUT</a></li>
        </ul>
      </nav>
      
    </div>

    
  </div>
<button type="submit">JAVA</button>
</form>
</body>
</html>
