<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<form  action="" th:each="list :${list}" method="POST">
	   <h3 th:text=${list.question}></h3>
	    <input type="radio" name="option"/><label th:text=${list.option1}></label><br>
	    <input type="radio"  name="option"/><label th:text=${list.option2}></label><br>
	    <input type="radio"  name="option"/><label th:text=${list.option3}></label><br>
	    <input type="radio" name="option"/><label th:text=${list.option4}></label><br>
	   <button type="submit">SUBMIT</button>
	</form>
</body>
</html>